.container .row{
    max-height: 30rem;
    overflow: scroll;    
}

h1{
    font-family: Helvetica Neue LT Std;
    font-size: 18px;
    line-height: 80px;
    letter-spacing: 0.04em;
}

h1 .close{
    padding: 6%;
}

.bottom1{
    width: 100%;  
    text-align: center;
    cursor: pointer;  
    padding: 7px;
    margin-top:10px;

    background-color:rgb(255, 255, 255) ;
    border: none;
    font-family: Helvetica Neue LT Std;
    font-size: 18px;
}

.bottom2{
    width: 100%;  
    text-align: center;
    cursor: pointer;  
    padding: 7px;
    margin-top:10px;

    background-color:rgba(0, 0, 0, 0.986) ;
    border: none;
    font-family: Helvetica Neue LT Std;
    font-size: 18px;
    color: white;
}

.card{
    margin-top:10px;
    border: none;
    box-shadow: rgb(32, 32, 32);
}

.card-img-overlay{
    background: rgba(68, 67, 67, 0.876);
}

h5{
    font-family: Helvetica Neue LT Std;
    font-size: 12px;
    padding-top: 100%;
}

p{
    font-family: Helvetica Neue LT Std;
    font-size: 12px;
}

p .close{
    font-size: 12px;    
    cursor: pointer;
    color: white;
}
