*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto",Verdana, Tahoma, sans-serif;
}

body{
    background: #ffffff;
}

.wrapper .header{
 z-index: 1;
 background:  #363636;
 position: fixed;
 width: calc(100% - 0%);
 height: 70px;
 display: flex;
 top: 0;
}

.wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.wrapper .header .header-menu .title{
    color:#ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.wrapper .header .header-menu .title span{
  color: #4ff3df;
}

.wrapper .header .header-menu .sidebar-btn{
    color: #ffffff;
    position: absolute;
    margin-left: 240px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover{
    color: #4ff3df;
}

.wrapper .header .header-menu ul{
    display: flex;
}

.wrapper .header .header-menu ul li a{
    background: #ffffff;
    color: #000000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .header .header-menu ul li a:hover{
    background:  #4ff3df;
}

.wrapper .sidebar{
    z-index: 1;
    background: #363636;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu{
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
    color: #bbbbbb;
    font-weight: 600;
    margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .profile p:hover{
    color:  #4ff3df;
}

.wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #ffffff;
    position: relative;
    padding: 25px 20px;
    transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color:  #4ff3df;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3x;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #4ff3df;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #ffffff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #c5e9e5;
    transition: 0.3s;
    transition-property: background;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #55b1f0;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
}

.wrapper .main-container{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding: 15px;
    background: url(../img/dag.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    transition: 0.3s;
}

.wrapper.custom-collapse .sidebar{
    width: 80px;
}

.wrapper.custom-collapse .sidebar .profile img,
.wrapper.custom-collapse .sidebar .profile p,
.wrapper.custom-collapse .sidebar a span{
    display: none;
}

.wrapper.custom-collapse .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
}

.wrapper.custom-collapse .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
}

.wrapper.custom-collapse .main-container{
    width: (100% - 70px);
    margin-left: 70px;
}